.hidden{
  display:none;
}

.material-icons.md-light { color: rgba(255, 255, 255, 1); }

.navbar-default {
    background-color: #ab47bc;
    border-color: #790e8b;
}
.navbar-default .navbar-brand {
    color: rgba(255, 255, 255, 1);
}

body { padding-top: 80px; }
